*{
    margin: 0px;
    border: 0px;
    width: auto;
}
body{
    width: 100%;
    height: auto;
}

#header{
    text-align: center;
    background: linear-gradient(#380036, #0CBABA);
    padding: 40px;
    font-size: 50px;
    color: antiquewhite;
}
#container{
    width: auto;
    height: auto;
    flex-direction: row;
   
    height: 750px;
    margin: 10px;
    display:flex;
    flex-direction: row;
}
#searchContainer{
    
    margin: 10px;
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: bisque;
}

#weatherdetailsContainer{
    
    margin: 10px;
    width: 80%;
    line-height: 10px;
}

#forcastDays{
    
    margin: 5px;
    height: 50%;
    display: flex;
    flex-direction: row;


}
#weatherDetails{
   
    margin: 10px;
    height: 40%;
    border: 1px solid black;
}
.days{
    height: 90%;
    width: 60%;
    margin: 5px 5px;
    background-color: #0CBABA;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    text-align: center;

}
#searchHeader{
    font-size: 30px;
}
#cityName{
    padding: 10px;
    margin: 1px;  
    font-size: 20px;
}
h3{
    margin: 10px;
}
#searchBtn{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    background-color: #0CBABA;
    border-radius: 5px;
    color: antiquewhite;
}
#searchBtn:hover{
    background-color: #380036;
}
#h-divider{
    margin-top:5px;
    margin-bottom:5px;
    height:3px;
    width:100%;
    align-items: center;
    border-top:4px solid gray;
   }

#weatherGrid{
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
    line-height: 20px;
}
.weatherConditions{
    padding: 0px 5px;
    font: bolder;
}
.imageDays{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;

}
#date{
    text-align: center;
    margin: 0px 0px;
    font-size: 50px;
    font-weight: bolder;

}
#UVindex{
   
    padding: 10px 20px;
    margin: 0px 10px;
}
#history{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

#history button {
    border: 2px solid black;
    border-radius: 8px;
    margin: 5px;
}
@media (max-width:992px) {
    body {
        width: 100%;
    }
    #weatherGrid{
        font-size: 200% !important;
        margin: 5%;
        padding: 20%;
        display: flex;
        flex-wrap: wrap;
    }
    #forcastDays{
        font-size: 200% !important;
        margin: 5%;
        padding: 20%;
        display: flex;
        flex-wrap: wrap;
    }

}

@media (max-width:768px) {
    body {
        width: 100%;
    }
    #weatherGrid{
        font-size: 100% !important;
        margin: 30%;
        padding: 20%;
        display: flex;
        flex-wrap: wrap;
    }
    #forcastDays{   
        font-size: 100% !important;
        margin: 30%;
        padding: 20%;
        display: flex;
        flex-wrap: wrap;
    }
}
@media (max-width:481px) {
    body {
        width: 50%;
    }
    #weatherGrid{
        font-size: 50% !important;
        margin: 20%;
        padding: 20%;
        display: flex;
        flex-wrap: wrap;
    }
    #forcastDays{
        font-size: 50% !important;
        margin: 20%;
        padding: 20%;
        display: flex;
        flex-wrap: wrap;
    }


}